{:credentials {:client-id     ""
               :client-secret ""
               :redirect-uri  ""
               :scopes        "https://www.googleapis.com/auth/datastore"}
 :token       {:code ""
               :type :type}
 :datastore   {:namespace :test}}