{:credentials {:client-id     #env CLIENT_ID
               :client-secret #env CLIENT_SECRET
               :redirect-uri  #env REDIRECT_URI
               :scopes        "https://www.googleapis.com/auth/datastore"}
 :token       {:code #env TOKENS_DATA_ACCESS_CODE
               :type #env TOKENS_DATA_ACCESS_CODE_TYPE}
 :datastore   {:project-id #env DATASTORE_PROJECT_ID
               :namespace  #env DATASTORE_NAMESPACE}}